.red,
.blue {
    border: 0;
}

.red {
  background-color: rgb(201, 37, 37) !important;
}
.blue {
  background-color: rgb(29, 32, 219) !important;
}

.btn-secondary {
  color: #fff;
  background-color: #80532e !important;
  background-color: cutom-color;
  border-color: #229753;
  border-color: cutom-cor;
}
